#MainFooter {
	position: relative;
	z-index: 20;
	background-color: $footer-bg-color;

	.seperator-and-logo {
		position: relative;
		z-index: 10;
		pointer-events: none;
		@include margin-bottom(90px);

		@include media-breakpoint-down(sm) {
			@include margin-bottom(190px);
		}
		&::before {
			content: '';
			background-size: cover;
			background-repeat: repeat-x;
			width: calc(100% - 30px);
			height: 16px;
			position: absolute;
			left: 15px;
			top: 0;
		}
		.logo-container {
			position: absolute;
			overflow: hidden;
			width: 100%;
			left: 0;
			top: -45px;

			@include media-breakpoint-up(lg) {
				top: -90px;
			}
			.logo-animation-container {
				transform: translateX(0);
				transition: 3s transform;

				.logo-background-shape {
					pointer-events: auto;
					width: 180px;
					transform: translateX(0) rotate(0);
					transition: 3s transform;

					@include media-breakpoint-down(lg) {
						width: 100px;
					}
					svg {
						transform: rotate(0);
						transition: 3s transform;
					}
				}
			}
		}
		&.loaded {
			&::before {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1235' height='16' fill='none'%3E%3Cstyle%3E@keyframes dash%7B0%25%7Bstroke-dashoffset:1%7Dto%7Bstroke-dashoffset:0%7D%7D%3C/style%3E%3Cpath stroke='%23#{$accent-6-svg}' stroke-miterlimit='10' stroke-width='6' d='M0 3.5c10.106 0 10.106 9 20.238 9 10.131 0 10.105-9 20.237-9 10.131 0 10.131 9 20.237 9 10.106 0 10.132-9 20.238-9s10.132 9 20.237 9c10.106 0 10.132-9 20.238-9s10.106 9 20.237 9c10.132 0 10.132-9 20.238-9s10.131 9 20.237 9c10.106 0 10.132-9 20.238-9s10.131 9 20.237 9c10.106 0 10.132-9 20.238-9s10.131 9 20.237 9c10.106 0 10.132-9 20.238-9 10.105 0 10.131 9 20.237 9 10.106 0 10.132-9 20.238-9 10.105 0 10.131 9 20.237 9 10.106 0 10.132-9 20.238-9 10.105 0 10.131 9 20.237 9 10.106 0 10.132-9 20.237-9 10.106 0 10.132 9 20.238 9s10.132-9 20.237-9c10.106 0 10.132 9 20.238 9s10.131-9 20.237-9c10.106 0 10.132 9 20.238 9s10.131-9 20.237-9c10.106 0 10.132 9 20.238 9s10.131-9 20.237-9c10.106 0 10.132 9 20.238 9s10.131-9 20.237-9c10.106 0 10.132 9 20.238 9s10.131-9 20.237-9c10.106 0 10.132 9 20.238 9 10.105 0 10.131-9 20.237-9 10.106 0 10.132 9 20.238 9 10.105 0 10.131-9 20.237-9 10.106 0 10.106 9 20.238 9 10.131 0 10.131-9 20.237-9 10.106 0 10.132 9 20.237 9 10.106 0 10.106-9 20.238-9 10.131 0 10.132 9 20.237 9 10.106 0 10.132-9 20.238-9s10.131 9 20.237 9c10.106 0 10.132-9 20.238-9s10.131 9 20.237 9c10.106 0 10.132-9 20.238-9s10.131 9 20.263 9c10.132 0 10.132-9 20.263-9 10.132 0 10.132 9 20.263 9 10.127 0 10.127-9 20.267-9 10.13 0 10.13 9 20.26 9s10.13-9 20.26-9 10.13 9 20.27 9c10.13 0 10.13-9 20.26-9s10.13 9 20.26 9 10.13-9 20.27-9c10.13 0 10.13 9 20.26 9s10.13-9 20.26-9 10.13 9 20.27 9c10.13 0 10.13-9 20.26-9s10.13 9 20.26 9' pathLength='1' style='stroke-dasharray:1;stroke-dashoffset:1;animation:dash 2s ease-out forwards'/%3E%3C/svg%3E");
			}
			.logo-container {
				.logo-animation-container {
					transform: translateX(calc(100% - 180px));

					@include media-breakpoint-down(lg) {
						transform: translateX(calc(100% - 100px));
					}
					.logo-background-shape {
						// transform: translateX(-62px) rotate(540deg);
						transform: translateX(-62px);

						svg {
							transform: rotate(730deg);
						}
					}
				}
			}
		}
	}
	.footer-contact {
		@include margin-bottom(110px);
		position: relative;
		z-index: 5;

		p {
			@include font-size(48px);
			@include rfs(62px, line-height);
			color: $color-1;
			font-weight: $medium;

			a {
				// text-decoration: underline;
				position: relative;
				text-shadow: -4px 3px 0px #fff, 4px 3px 0px #fff, -4px 2px 0px #fff, 4px 2px 0px #fff;
				
				@include media-breakpoint-down(lg) {
					text-shadow: -4px 2px 0px #fff, 4px 2px 0px #fff, -4px 1px 0px #fff, 4px 1px 0px #fff;
				}
				&::after {
					content: '';
					width: 0;
					height: 0;
					border-bottom: 3px solid;
					position: absolute;
					left: 0;
					bottom: 2px;
					z-index: -1;
					transition: 0.25s width;
					will-change: width;

					@include media-breakpoint-down(lg) {
						width: 100%;
						bottom: 1px;
					}
				}
				&:hover {
					color: $color-1;

					&::after {
						width: 100%;
					}
				}
			}
		}
	}
	.footer-social {
		@include media-breakpoint-down(lg) {
			@include padding-top(30px);
		}
		.is-style-cindylau-social-nav-big-text {
			li {
				@include media-breakpoint-down(lg) {
					text-align: center;
				}
			}
			a {
				@include media-breakpoint-down(lg) {
					text-shadow: -4px 2px 0px #fff, 4px 2px 0px #fff, -4px 1px 0px #fff, 4px 1px 0px #fff;
				}
				&::after {
					@include media-breakpoint-down(lg) {
						width: 100%;
					}
				}
			}
		}
	}
	.footer-copyright {
		p {
			a {
				color: $copy;
				text-decoration: underline;
			}
		}
	}
}

.single-project {
	#MainFooter {
		
	}
}