#MainFooter {
	position: relative;
	z-index: 20;
	background-color: white;

	.seperator-and-logo {
		position: relative;
		@include margin-bottom(90px);

		&::before {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1235' height='16' fill='none'%3E%3Cpath stroke='%23#{$accent-6-svg}' stroke-miterlimit='10' stroke-width='6' d='M0 3.5c10.106 0 10.106 9 20.238 9 10.131 0 10.105-9 20.237-9 10.131 0 10.131 9 20.237 9 10.106 0 10.132-9 20.238-9s10.132 9 20.237 9c10.106 0 10.132-9 20.238-9s10.106 9 20.237 9c10.132 0 10.132-9 20.238-9s10.131 9 20.237 9c10.106 0 10.132-9 20.238-9s10.131 9 20.237 9c10.106 0 10.132-9 20.238-9s10.131 9 20.237 9c10.106 0 10.132-9 20.238-9 10.105 0 10.131 9 20.237 9 10.106 0 10.132-9 20.238-9 10.105 0 10.131 9 20.237 9 10.106 0 10.132-9 20.238-9 10.105 0 10.131 9 20.237 9 10.106 0 10.132-9 20.237-9 10.106 0 10.132 9 20.238 9s10.132-9 20.237-9c10.106 0 10.132 9 20.238 9s10.131-9 20.237-9c10.106 0 10.132 9 20.238 9s10.131-9 20.237-9c10.106 0 10.132 9 20.238 9s10.131-9 20.237-9c10.106 0 10.132 9 20.238 9s10.131-9 20.237-9c10.106 0 10.132 9 20.238 9s10.131-9 20.237-9c10.106 0 10.132 9 20.238 9 10.105 0 10.131-9 20.237-9 10.106 0 10.132 9 20.238 9 10.105 0 10.131-9 20.237-9 10.106 0 10.106 9 20.238 9 10.131 0 10.131-9 20.237-9 10.106 0 10.132 9 20.237 9 10.106 0 10.106-9 20.238-9 10.131 0 10.132 9 20.237 9 10.106 0 10.132-9 20.238-9s10.131 9 20.237 9c10.106 0 10.132-9 20.238-9s10.131 9 20.237 9c10.106 0 10.132-9 20.238-9s10.131 9 20.263 9c10.132 0 10.132-9 20.263-9 10.132 0 10.132 9 20.263 9 10.127 0 10.127-9 20.267-9 10.13 0 10.13 9 20.26 9s10.13-9 20.26-9 10.13 9 20.27 9c10.13 0 10.13-9 20.26-9s10.13 9 20.26 9 10.13-9 20.27-9c10.13 0 10.13 9 20.26 9s10.13-9 20.26-9 10.13 9 20.27 9c10.13 0 10.13-9 20.26-9s10.13 9 20.26 9'/%3E%3C/svg%3E");
			background-size: cover;
			background-repeat: repeat-x;
			width: calc(100% - 30px);
			height: 16px;
			position: absolute;
			left: 15px;
			top: 0;
		}
		.footer-logo {
			position: absolute;
			right: 20px;
			top: -50px;
			transform: rotate(15deg);

			@include media-breakpoint-down(xl) {
				top: -120px;
			}
		}
	}
	.footer-contact {
		@include margin-bottom(110px);

		p {
			@include font-size(48px);
			@include rfs(62px, line-height);
			color: $color-1;
			font-weight: $medium;

			a {
				text-decoration: underline;
			}
		}
	}
	.footer-copyright {
		p {
			a {
				color: $copy;
				text-decoration: underline;
			}
		}
	}
}