// Standard container
.is-style-page-content {
	figure {
		@include margin-bottom(30px);
	}
}
// No overflow container
.is-style-cindylau-page-content {
	@include padding-top(55px);
	@include padding-bottom(320px);
	background-color: white;
	position: relative;
	z-index: 10;

	& > .full-width-content-wrapper {
		overflow: hidden;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
	a {
		color: $copy;
		text-decoration: underline;

		&:hover {
			color: $primary;
		}
	}
	@include media-breakpoint-down(lg) {
		.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
			flex-basis: 100% !important;
		}
	}
}
// Single project intro container
.is-style-cindylau-project-intro {
	@include padding-top(192px);
	@include margin-bottom(90px);

	h1 {
		@include font-size(48px);
		@include rfs(62.4px, line-height);
		color: #000;
		font-weight: $bold;
	}
}
// Editor styles
.is-root-container {
	.is-style-cindylau-project-intro {
		padding-top: 0;
	}
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}