.badge-container {
	position: relative;

	.svg {
		cursor: pointer;
		// position: relative;
		position: absolute;
		z-index: 10;

		&.jello-vertical {
			-webkit-animation: jello-vertical 0.9s both;
			animation: jello-vertical 0.9s both;
		}
	}
	// Left Column
	.badge01 {
		left: 0;
		top: 170px;
	}
	.badge02 {
		left: 80px;
		top: 266px;
		z-index: 9;
	}
	.badge03 {
		left: 0;
		top: 358px;
	}
	.badge04 {
		right: 0;
		top: 345px;
	}
	.badge05 {
		left: 80px;
		top: 470px;
	}
	.badge06 {
		left: 65px;
		top: 553px;
		width: 158px;
		z-index: 9;
	}
	.badge07 {
		left: 7px;
		top: 621px;
	}
	.badge08 {
		right: 25px;
		top: 690px;
	}
	// Right Column
	.badge09 {
		right: 0;
		top: 160px;
	}
	.badge10 {
		left: 0;
		top: 255px;
	}
	.badge11 {
		right: 30px;
		top: 290px;
	}
	.badge12 {
		left: 38px;
		top: 351px;
		z-index: 9;
	}
	.badge13 {
		right: 0;
		top: 470px;
	}
	.badge14 {
		left: 0;
		top: 470px;
	}
	.badge15 {
		left: 60px;
		top: 570px;
	}
	.badge16 {
		right: 0;
		top: 580px;
		z-index: 9;
	}
	.badge17 {
		left: 5px;
		top: 680px;
	}
}