.badge-container {
	position: relative;

	@include media-breakpoint-down(lg) {
		height: 180px;
	}
	@include media-breakpoint-down(md) {
		height: 160px;
	}
	&:nth-last-of-type(1) {
		@include media-breakpoint-down(lg) {
			height: 100px;
		}
		@include media-breakpoint-down(md) {
			height: 120px;
		}
		@include media-breakpoint-down(sm) {
			height: 80px;
		}
	}
	.svg {
		cursor: pointer;
		// position: relative;
		position: absolute;
		z-index: 10;

		&.jello-vertical {
			animation: jello-vertical 0.9s both;

			@include media-breakpoint-down(xl) {
				animation: jello-vertical-90 0.9s both;
			}
			@include media-breakpoint-down(lg) {
				animation: jello-vertical-70 0.9s both;
			}
			@include media-breakpoint-down(sm) {
				animation: jello-vertical-55 0.9s both;
			}
		}
	}
	@include media-breakpoint-down(xl) {
		.svg {
			transform: scale(.9);
		}
	}
	// Left Column
	.badge01 {
		left: 0;
		top: 170px;
	}
	.badge02 {
		left: 80px;
		top: 266px;
		z-index: 9;
	}
	.badge03 {
		left: 0;
		top: 358px;
	}
	.badge04 {
		right: 0;
		top: 345px;
	}
	.badge05 {
		left: 80px;
		top: 470px;
	}
	.badge06 {
		left: 65px;
		top: 553px;
		width: 158px;
		z-index: 9;
	}
	.badge07 {
		left: 7px;
		top: 621px;
	}
	.badge08 {
		right: 25px;
		top: 690px;
	}
	@include media-breakpoint-down(lg) {
		.svg {
			transform: scale(.7);
		}
		// Left Column
		.badge01 {
			left: 0;
			top: 190px;
		}
		.badge02 {
			left: 164px;
			top: 199px;
			z-index: 9;
		}
		.badge03 {
			left: 102px;
			top: 256px;
		}
		.badge04 {
			right: 80px;
			top: 195px;
		}
		.badge05 {
			left: 254px;
			top: 245px;
		}
		.badge06 {
			left: 383px;
			top: 213px;
			width: 158px;
			z-index: 9;
		}
		.badge07 {
			left: 347px;
			top: 261px;
		}
		.badge08 {
			right: 25px;
			top: 260px;
		}
	}
	@include media-breakpoint-down(md) {
		// Left Column
		.badge01 {
			left: -20px;
			top: 150px;
		}
		.badge02 {
			left: 124px;
			top: 162px;
			z-index: 9;
		}
		.badge03 {
			left: 68px;
			top: 220px;
		}
		.badge04 {
			right: 30px;
			top: 156px;
		}
		.badge05 {
			left: 194px;
			top: 224px;
		}
		.badge06 {
			left: 278px;
			top: 217px;
			width: 158px;
			z-index: 9;
		}
		.badge07 {
			display: none;
		}
		.badge08 {
			right: -10px;
			top: 230px;
		}
	}
	@include media-breakpoint-down(sm) {
		.svg {
			transform: scale(.55);
		}
		// Left Column
		.badge01 {
			left: -30px;
			top: 120px;
		}
		.badge02 {
			// left: 68px;
			left: 21%;
			top: 137px;
			z-index: 9;
		}
		.badge03 {
			// left: 29px;
			left: 10%;
			top: 185px;
		}
		.badge04 {
			// right: 13px;
			right: 5%;
			top: 127px;
		}
		.badge05 {
			// left: 102px;
			left: 35%;
			top: 187px;
		}
		.badge06 {
			// left: 161px;
			left: 49%;
			top: 175px;
			width: 158px;
			z-index: 9;
		}
		.badge08 {
			right: -5px;
			top: 188px;
		}
	}
	// Right Column
	.badge09 {
		right: 0;
		top: 160px;
	}
	.badge10 {
		left: 0;
		top: 255px;
	}
	.badge11 {
		right: 30px;
		top: 290px;
	}
	.badge12 {
		left: 38px;
		top: 351px;
		z-index: 9;
	}
	.badge13 {
		right: 0;
		top: 470px;
	}
	.badge14 {
		left: 0;
		top: 470px;
	}
	.badge15 {
		left: 60px;
		top: 570px;
	}
	.badge16 {
		right: 0;
		top: 580px;
		z-index: 9;
	}
	.badge17 {
		left: 5px;
		top: 680px;
	}
	@include media-breakpoint-down(xl) {
		// Right Column
		.badge11 {
			right: 10px;
		}
		.badge12 {
			left: 18px;
		}
		.badge15 {
			left: 44px;
		}
		.badge16 {
			top: 629px;
		}
		.badge17 {
			top: 690px;
		}
	}
	@include media-breakpoint-down(lg) {
		// Right Column
		.badge09 {
			left: 356px;
			top: 0;
		}
		.badge10 {
			left: -12px;
			top: 21px;
		}
		.badge11 {
			right: unset;
			left: 45px;
			top: 42px;
			z-index: 9;
		}
		.badge12 {
			left: 120px;
			top: -10px;
			z-index: 9;
		}
		.badge13 {
			right: 144px;
			top: 63px;
		}
		.badge14 {
			left: 194px;
			top: 0;
			z-index: 8;
		}
		.badge15 {
			left: 292px;
			top: 35px;
		}
		.badge16 {
			right: 73px;
			top: -20px;
			z-index: 10;
		}
		.badge17 {
			left: unset;
			right: 0;
			top: 24px;
		}
	}
	@include media-breakpoint-down(md) {
		// Right Column
		.badge09 {
			display: none;
		}
		.badge13 {
			right: 126px;
		}
		.badge15 {
			display: none;
		}
		.badge16 {
			right: 73px;
			top: -20px;
		}
	}
	@include media-breakpoint-down(sm) {
		// Right Column
		.badge10 {
			left: -20px;
			top: 0;
		}
		.badge11 {
			// left: 21px;
			left: 11%;
			top: 12px;
			z-index: 9;
		}
		.badge12 {
			// left: 82px;
			left: 24%;
			top: -22px;
			z-index: 9;
		}
		.badge13 {
			// right: 71px;
			right: 23%;
			top: 29px;
		}
		.badge14 {
			// left: 130px;
			left: 37%;
			top: -18px;
		}
		.badge16 {
			// right: 29px;
			right: 8%;
			top: -34px;
		}
		.badge17 {
			right: -18px;
			top: -3px;
		}
	}
}