.big-hero {
	@include padding-bottom(185px);
	@include padding-top(130px);
	// border-bottom: 25px solid white;
	background-color: $home-hero-bg-color;
	top: 0;
	position: sticky;
	z-index: 0;

	@include media-breakpoint-down(md) {
		@include padding-top(170px);
	}
	&.unstuck {
		position: static;
	}
	@include media-breakpoint-down(lg) {
		br {
			display: none;
		}
	}
	h1 {
		@include padding-left(150px);
		@include padding-right(150px);

		@include media-breakpoint-down(lg) {
			padding: 0;
		}
	}

	.logo-container {
		@include padding-top(30px);
		@include padding-bottom(50px);

		.logo-background-shape {
			// height: 180px;
			@include rfs(180px, height);

			svg {
				// width: 180px;
				// height: 180px;
				@include rfs(180px, width);
				@include rfs(180px, height);
				transform: rotate(-10deg);
			}
		}
	}
	&.about-hero {
		.logo-container {
			@include media-breakpoint-down(lg) {
				transform: translateY(-190px);
			}
			@include media-breakpoint-down(md) {
				transform: translateY(-160px);
			}
		}
	}
}