.social-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;

	&.social-nav-small {
		@include margin-left(40px);

		li {
			@include margin-right(16px);
			
			a {
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: black;
				@include border-radius(30px);
				color: #fff;
			}
			&:last-child {
				margin-right: 0;
			}
			&.instagram {
				@include font-size(18px);

				a {
					background-color: $color-4;
				}
			}
			&.linkedin {
				a {
					background-color: $color-7;
				}
			}
			&.email {
				@include font-size(17.5px);

				a {
					background-color: $accent-2;
				}
			}
		}
	}
	&.social-nav-big-text {
		flex-direction: column;

		li {
			a {
				@include font-size(48px);
				@include rfs(62px, line-height);
				font-weight: $medium;
				text-decoration: underline;
			}
			&.email {
				a {
					color: $color-1;
				}
			}
			&.instagram {
				a {
					color: $color-4;
				}
			}
			&.linkedin {
				a {
					color: $color-7;
				}
			}
		}
	}
}